/* Import Normalize.css */
@import url('https://raw.githubusercontent.com/jce-git/k11/main/css/normalize.css');
/* or */
/* @import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css'); */
/*
Normalize.css makes browsers render all elements more consistently and in line with modern standards.
It precisely targets only the styles that need normalizing.

To integrate Normalize.css into your existing stylesheet:

1. Download Normalize.css ( or copy link to it from https://necolas.github.io/normalize.css/8.0.1/normalize.css )
2. Include the Normalize.css file in your project.
3. Import Normalize.css at the beginning of your css file.
*/
@import url('run-for-narrow-screen.css');
@import url('run-for-wide-screen.css');
@import url('nav-bar.css');
@import url('photo-gallery.css');
@import url('news-photo-gallery.css');

body {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  /* color of the website background */
  background-color: #121212;
  /* color of the website font (overwritten by code in section block!) */
  color: #ffdb3a;
}

/* header tag settings */
h2 {
  font-size: 21px;
  color: #080808;
  background-color: #ffdb3a; /* Tło w kolorze CMYK ffce04ff (HEX #FFC704) */
  padding: 8px; /* Opcjonalnie: odstęp między tekstem a krawędzią tła */
  border-radius: 4px; /* Opcjonalnie: zaokrąglenie rogów */
}

h3 {
  color: #ffdb3a;
}

h4 {
  color: whitesmoke;
}

/* paragraph tag settings */
p {
  font-size: 18px; /* Change this value to your desired font size */
  color: whitesmoke;
}

/* paragraph classes*/
.paragraph-header-01 {
  font-size: 19px; /* Change this value to your desired font size */
  color: #ffdb3a;
}

/* section settings */
section {
  text-align: center;
  padding: 50px;
  width: 80%;
  max-width: 600px;
  color: #ffdb3a;
}

/* button that is used for links */
.button-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007BFF;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px 0;
}

.button-link:hover {
  background-color: #0056b3;
}