/* to make the .css code more readable we split it into different sections
check README.md for more information about imported .css files */
@import url('normalize.css');
@import url('run-for-narrow-screen.css');
@import url('run-for-wide-screen.css');
@import url('nav-bar.css');
@import url('photo-gallery.css');
@import url('news-photo-gallery.css');

body {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  /* color of the website background */
  background-color: #121212;
  /* color of the website font (overwritten by code in section block!) */
  color: #ffdb3a;
}

/* header tag settings */
h2 {
  font-size: 21px;
  color: #080808;
  background-color: #ffdb3a; /* Tło w kolorze CMYK ffce04ff (HEX #FFC704) */
  padding: 8px; /* Opcjonalnie: odstęp między tekstem a krawędzią tła */
  border-radius: 4px; /* Opcjonalnie: zaokrąglenie rogów */
}

h3 {
  color: #ffdb3a;
}

h4 {
  color: whitesmoke;
}

/* paragraph tag settings */
p {
  font-size: 18px; /* Change this value to your desired font size */
  color: whitesmoke;
}

/* paragraph classes*/
.paragraph-header-01 {
  font-size: 19px; /* Change this value to your desired font size */
  color: #ffdb3a;
}

/* section settings */
section {
  text-align: center;
  padding: 50px;
  width: 80%;
  max-width: 800px;
  color: #ffdb3a;
}

/* button that is used for links */
.button-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007BFF;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px 0;
}

.button-link:hover {
  background-color: #0056b3;
}