body {
  font-family: 'Trebuchet MS', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  /* color of the website background */
  background-color: #121212;
  /* color of the website font (overwritten by code in section block!) */
  color: #ffdb3a;
}



/* header tag settings */
h2 {
  font-size: 21px;
  color: #080808;
  background-color: #ffdb3a; /* Tło w kolorze CMYK ffce04ff (HEX #FFC704) */
  padding: 8px; /* Opcjonalnie: odstęp między tekstem a krawędzią tła */
  border-radius: 4px; /* Opcjonalnie: zaokrąglenie rogów */
}



h3 {
  color: #ffdb3a;
}



h4 {
  color: whitesmoke;
}



/* paragraph tag settings */
p {
  font-size: 18px; /* Change this value to your desired font size */
  color: whitesmoke;
}

/* paragraph classes*/
.paragraph-header-01 {
  font-size: 19px; /* Change this value to your desired font size */
  color: #ffdb3a;
}



/* navigation bar settings */
nav {
  font-size: 16px;
  position: fixed; /* or absolute, depending on your layout */
  top: 0;
  width: 100%;
  z-index: 1000; /* A high value to ensure it is above other elements */
  background-color: #242424;
  max-height: 100vh; /* Set the maximum height to the viewport height */
  overflow-x: auto; /* Add horizontal scrollbar if content overflows */
  display: flex;
  justify-content: flex-start; /* Align items to the start */
  flex-direction: row; /* Stack items horizontally */
  align-items: center; /* Center items vertically */
  padding: 0 20px;
}

nav a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0 5px;
  border-top: 2px solid transparent; /* Add transparent border */
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

nav a:hover {
  color: #ffdb3a;
  border-top: 2px solid #ffdb3a; /* Change border color on hover */
}

nav a.active {
  color: #000;
  background-color: #ffdb3a;
  font-weight: bold;
  border-top: 2px solid #ffdb3a; /* Ensure active state has the same border */
}

/* Center the navigation items */
nav::before,
nav::after {
  content: '';
  flex: 1;
}



/* section settings */
section {
  text-align: center;
  padding: 50px;
  width: 80%;
  max-width: 600px;
  color: #ffdb3a;
}



/* button that is used for links */
.button-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007BFF;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px 0;
}

.button-link:hover {
  background-color: #0056b3;
}



/* photo gallery settings */
.photo-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
}

.photo-gallery img {
  max-width: 100%;
  height: auto;
  border: 5px solid #ffdb3a;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.photo-gallery img:hover {
  transform: scale(1.05) rotate(3deg);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  transition: opacity 0.5s ease;
}

.modal.fade-out {
  opacity: 0;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}



/* Modal container */
#myModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}



/* Image preview */
#image_preview {
  margin: auto;
  display: block;
  /* Maximum width and height of previewed image */
  max-width: 90%;
  max-height: 90%;
}



/* Navigation arrows */
.previous_image_button, .next_image_button {
  cursor: pointer;
  position: absolute;
  bottom: 10%;
  width: auto;
  padding: 16px;
  margin-top: 22px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.3s ease;
  user-select: none;
}

.previous_image_button {
  left: 10%;
}

.next_image_button {
  right: 10%;
}

.previous_image_button:hover, .next_image_button:hover {
  color: #ffdb3a;
  background-color: rgba(0,0,0,0.8);
}



/* Close button */
.close_button {
  position: absolute;
  top: 20%;
  right:  10%;
  color: white;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close_button:hover, .close_button:focus {
  color: #ffdb3a;
  text-decoration: none;
  cursor: pointer;
}
