body {
  font-family: 'Trebuchet MS', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  /* color of the website background */
  background-color: #080808;
  /* color of the website font (overwritten by code in section block!) */
  color: #ffe14d;
}

/* header tag settings */
h2 {
  color: #050505;
  background-color: #FFC704; /* Tło w kolorze CMYK ffce04ff (HEX #FFC704) */
  padding: 8px; /* Opcjonalnie: odstęp między tekstem a krawędzią tła */
  border-radius: 4px; /* Opcjonalnie: zaokrąglenie rogów */
}

h3 {
  color: #ffdb3a;
}

h4 {
  color: whitesmoke;
}



/* paragraph tag settings */
p {
  font-size: 20px; /* Change this value to your desired font size */
  color: whitesmoke;
}

/* paragraph classes*/
.date-text {
  font-size: 20px; /* Change this value to your desired font size */
  color: #ffdb3a;
}



/* navigation bar settings */
nav {
  font-size: 18px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

nav a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0 5px;
}

nav a.active {
  color: #000;
  background-color: #ffdb3a;
  font-weight: bold;
}



/* section settings */
section {
  text-align: center;
  padding: 50px;
  width: 80%;
  max-width: 600px;
  color: #ffe14d;
}



/* photo gallery settings */
.photo-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
}

.photo-gallery img {
  max-width: 100%;
  height: auto;
  border: 5px solid #ffe14d;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.photo-gallery img:hover {
  transform: scale(1.05);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  transition: opacity 0.5s ease;
}

.modal.fade-out {
  opacity: 0;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Modal container */
#myModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* Image preview */
#image_preview {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

/* Navigation arrows */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.3s ease;
  user-select: none;
}

.prev {
  left: 40px; /* Move 40px away from the left edge */
}

.next {
  right: 40px; /* Move 40px away from the right edge */
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Close button */
.close {
  position: absolute;
  top: 15px;
  right: 50px; /* Adjusted to align with the next button */
  color: white;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close:hover, .close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
